.popoutBanner-3cqRD9,
.profileBanner-1owKI5 {
    background-color: #0000 !important;
}
.chatHeaderBar-31g1mU {
    background-color: #00000030 !important;
}
.theme-dark .container-YkUktl:before {
    display: none !important;
}
.theme-dark .container-YkUktl:after {
    display: none !important;
}
.theme-dark .container-YkUktl .avatar-1EWyVD:after {
    display: none !important;
}
.theme-dark .container-YkUktl {
    margin: 0px !important;
}
.row-2mBMW2 {
    grid-template-columns: repeat(auto-fill, 138px) !important;
}
.overlayBackground-2aa7wt {
    background-color: rgba(0,0,0,.1) !important;
}
.input-3O04eu:focus {
    box-shadow: none !important;
}
.input-3O04eu {
    background: none !important;
}
.chatHeaderBar-31g1mU {
    background: none !important;
}
.channelTextArea-1VQBuV:focus-within {
    box-shadow: 0 0 2px 0px var(--main-color) !important;
}
